
  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Arial', sans-serif;
    line-height: 2;
    background-color: #f9f9f9;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #0f2247;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  .logo {
    max-width: 150px;
  }
  .logo img{
    max-width: 100%;
    height: auto;
  }
  nav{
    display: flex;
    gap:25
  }
  nav a {
    color: white;
    text-decoration: none;
    font-size: 16 px;
    font-weight: bold;
    padding: 10px 15px;
    transition: 0.3;
  }
  nav a:hover{
    background: rgba(255,255,255, 0.2);
    border-radius: 5px;
  }
  /*---Estilo del Submenú---*/
  .dropdown{
    position: relative;
  }
  .dropdown-content{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    width: 200px;
  }
  .dropdown-content a{
    color: black;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    font-size: 14px;
  }
  .dropdown-content a:hover{
    background: #f5f5f5;
  }
  .dropdown:hover .dropdown-content{
    display: block;
  }
  footer {
    background: #0f2247;
    color: white;
    text-align: center;
    padding: 1rem 0;
  }
 


  


  .hero {
    position: relative;
    background-image: url('images/h1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 201.7vh; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .opaca {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); 
  }

  .hero_contenido {
    position: relative;
    color: white;
    text-align: left;
    padding: 20px;
    max-width: 1200px;
  }

  .hero-contenido h1 {
    font-size: 4rem; 
    font-weight: bold;
    margin: 0;
  }

  /*esto hace que sea responsiva*/
  @media (max-width: 768px) {
    .hero-contentido h1 {
      font-size: 2.5rem;
    }
  }

  .servicios {
    padding: 0rem;
    background-color: #f9f9f9;
  }
  
  .servicios-header {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding: 40px 100px;
    background-color: #0f2247; 
    width: 100%;
    color: white; 
}

.servicios-header h1 {

font-size: 45px;


}

  .Gestion-header
  {
    text-align: center;
  }
  
  .servicios-header h2 {
    color: #1a237e;
    font-size: 2rem;
  }
  
  .servicios-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    max-width: 1200px; 
    margin: 0 auto; 
  }
  
  .servicio-imagen {
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    min-height: 400px;
  }

 
  
  .servicio-imagen img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    
  }
  
  .servicio-imagen h3 {
    color: #333;
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  
  .servicio-imagen p {
    font-size: 0.9rem;
    color: #555;
  }
  
  .servicio-imagen a {
    color: #e53935;
    text-decoration: none;
    font-weight: bold;
  }
  
  .servicio-imagen:hover {
    transform: translateY(-5px);
  }

  
  
  @media (max-width: 768px) {
    .servicios-grid {
      grid-template-columns: 1fr;
    }
  }

  .Espacio {
 
    background-color: #0f2247; 
    padding: 75px 100px;


  }


  .servicios-grid1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 10rem;
    max-width: 800px; 
    margin: 0 auto; 
  }
  
  .servicio-imagen1 {
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    min-height: 400px;
  }

  .servicio-imagen1 img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    
  }
  
  .servicio-imagen1 h3 {
    color: #333;
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }

  .servicio-imagen1 a {
    color: #e53935;
    text-decoration: none;
    font-weight: bold;
  }

  .servicio-imagen1 p {

    font-size: 0.9rem;
    color: #555;
  }

  .servicio-imagen1:hover {
    transform: translateY(-5px);
  }

  @media (max-width: 768px) {
    .servicios-grid1 {
      grid-template-columns: 1fr;
    }
  }

  .servicios-grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 5rem;
    max-width: 1200px; 
    margin: 0 auto; 
  }
  
  .servicio-imagen2 {
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    min-height: 400px;
  }

  .servicio-imagen2 img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    
  }
  
  .servicio-imagen2 h3 {
    color: #333;
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }

  .servicio-imagen2 a {
    color: #e53935;
    text-decoration: none;
    font-weight: bold;
  }

  .servicio-imagen2 p {   

    font-size: 0.9rem;
    color: #555;
  }

  .servicio-imagen2:hover {
    transform: translateY(-5px);
  }

  @media (max-width: 768px) {
    .servicios-grid1 {
      grid-template-columns: 1fr;
    }
  }


  



 