header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #0f2247;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.logo {
    max-width: 150px;
}
.logo img{
    max-width: 100%;
    height: auto;
}
nav{
    display: flex;
    gap:25
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 16 px;
    font-weight: bold;
    padding: 10px 15px;
    transition: 0.3;
}
nav a:hover{
    background: rgba(255,255,255, 0.2);
    border-radius: 5px;
}
/*---Estilo del Submenú---*/
.dropdown{
    position: relative;
}
.dropdown-content{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    width: 200px;
}
.dropdown-content a{
    color: black;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    font-size: 14px;
}
.dropdown-content a:hover{
    background: #f5f5f5;
}
.dropdown:hover .dropdown-content{
    display: block;
}
footer {
    background: #0f2247;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.header {
    background: #2e7d32;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.seccion {
    padding: 40px;
    text-align: center;
    
}
.seccion img {

    position: relative;
    padding: 50px;
    right: 500px;
    width: 80%;
    max-width: 800px;
    
    border-radius: 10px;
}

.seccion.seccion.verde p{

 position: relative;
 top: -400px;   
 text-align: left;
 padding: 10px;
 width: 50% ;
 margin-left: auto;

}

.seccion.seccion.verde h2{

    position: relative;
    top: -400px;   
    text-align: left;
    padding: 10px;
    width: 50% ;
    margin-left: auto;
    left: 290px;
   
}
   


.seccion.verde {
    background: #a5d6a7;
    height: 600px;
}
.seccion.negro {
    background: #212121;
    color: white;
    height: 600px;
    
}
.seccion.marron {
    background: #8d6e63;
    color: white;
}
.cartas {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.carta {
    background: white;
    color: black;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.carta.negro {
    background: #424242;
    color: white;
 
    
}

.carta.negro2 {
    background: #424242;
    color: white;
    position: relative;
    
}
.carta.negro3 {
    background: #424242;
    color: white;
}
.images {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.images img {
    width: 300px;
    border-radius: 10px;
}

