:root {
    --primary-color: #a10303;
    --secondary-color: #000000;
    --text-color: #ffffff;
    --font-family: "Montserrat-Bold", sans-serif;
    --font-size-large: 60px;
    --font-size-medium: 48px;
    --font-size-small: 24px;
    --header-bg:#08094f;
    --button-hover:#800000;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 100px;
    background-color: var(--header-bg);
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  .logo {
    max-width: 300px;
  }
  .logo img{
    max-width: 100%;
    height: auto;
  }
  nav{
    display: flex;
    gap:25px;
  }
  nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    transition: 0.3s;
  }
  nav a:hover{
    background: rgba(255,255,255, 0.2);
    border-radius: 5px;
  }
  /*---Estilo del Submenú---*/
  .dropdown{
    position: relative;
  }
  .dropdown-content{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    box-shadow: 0px 4px 10px;
    width: 200px;
    border-radius: 7px;
  }
  .dropdown-content a{
    color: black;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    font-size: 18px;
  }
  .dropdown-content a:hover{
    background: #f5f5f5;
  }
  .dropdown:hover .dropdown-content{
    display: block;
  }
footer {
    background: #0f2247;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 2;
    background-color: #f9f9f9;
    
  }
.header {
    background: #2e7d32;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.seccion {
    padding: 40px;
    text-align: center;
    
}
.seccion img {

    position: relative;
    padding: 50px;
    right: 500px;
    width: 80%;
    max-width: 800px;
    
    border-radius: 10px;
}

.seccion.seccion.verde p{

 position: relative;
 top: -400px;   
 text-align: left;
 padding: 10px;
 width: 50% ;
 margin-left: auto;

}

.seccion.seccion.verde h2{

    position: relative;
    top: -400px;   
    text-align: left;
    padding: 10px;
    width: 50% ;
    margin-left: auto;
    left: 290px;
   
}
   


.seccion.verde {
    background: #a5d6a7;
    height: 600px;
}
.seccion.negro {
    background: #212121;
    color: white;
    height: 600px;
    
}
.seccion.marron {
    background: #8d6e63;
    color: white;
}
.cartas {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.carta {
    background: white;
    color: black;
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.carta.negro {
    background: #424242;
    color: white;
 
    
}

.carta.negro2 {
    background: #424242;
    color: white;
    position: relative;
    
}
.carta.negro3 {
    background: #424242;
    color: white;
}
.images {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.images img {
    width: 300px;
    border-radius: 10px;
}

